<div id="<%= dom_id owner %>">
  <p>
    <strong>Name:</strong>
    <%= owner.name %>
  </p>

  <p>
    <strong>Email address:</strong>
    <%= owner.email_address %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= owner.contact_number %>
  </p>

</div>
